/* Global Attribute */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

main section {
  margin: 100px 135px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@400;700;900&family=Mulish:wght@500;600;700;800&family=Work+Sans:wght@400;700;800&display=swap');

/* Header and Nav Section */
header {
  background: #fff;
  padding: 52px 135px 0;
}

.nav-bar {
  display: grid;
  grid-template-columns: 2fr auto;
  justify-content: center;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.logo-section span {
  color: #ff5400;
}

.menu-link {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 3rem;
}

.menu-link a {
  text-decoration: none;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 700;
}

.menu-link a:first-child {
  color: #ff5400;
}

.mobile-nav {
  display: none;
}

/* Hero Section Style */
.hero-section {
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%),
    url('../Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.hero-content {
  padding: 100px 135px;
}

.hero-title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hero-description {
  margin-top: 1.5rem;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.find-form {
  margin-top: 3rem;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

input,
select {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.8);
  text-align: start;
  font-family: Mulish;
  font-size: 16px;
}
.find-form input[type='submit'] {
  background: #ff5400;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
}

/* Best Place Section */

.best-place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

/* Here using grid and rows auto for maintain height with image */
.best-place-content {
  display: grid;
  grid-template-rows: auto;
}
.best-place-content h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 2.5rem;
  font-weight: 800;
}

.best-place-content p {
  margin-top: 1.5rem;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  line-height: 1.5rem;
}

.best-place-content ul {
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  display: grid;
  grid-template-rows: 1fr;
  gap: 16px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  line-height: 1.5rem;
}

.best-place-content button {
  margin-top: 2rem;
  max-width: 11rem;
  padding: 14px 35px;
  border: none;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
}

.best-place-img img {
  height: 100%;
  width: 100%;
}

/* Favorite Place Section Style */
.favorite-place-content {
  text-align: center;
}

.favorite-place-content h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.favorite-place-content p {
  margin: 1rem auto;
  max-width: 600px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}

.first-favorite-place-img,
.middle-favorite-place-img,
.last-favorite-place-img {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}
.first-favorite-place-img {
  grid-template-columns: repeat(2, auto);
}
.middle-favorite-place-img {
  grid-template-columns: 1.5fr 2fr 1fr;
}
.last-favorite-place-img {
  grid-template-columns: 1fr 2fr;
}

.favorite-place-img img {
  border-radius: 1rem;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%);
  height: 100%;
  width: 100%;
}

.favorite-place-img h3 {
  position: relative;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
}

/* Choose Us Section Style */
.choose-us-content {
  text-align: center;
}
.choose-us-content {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 2.5rem;
  font-weight: 800;
}
.choose-us-content p {
  max-width: 643px;
  margin: 1.5rem auto;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 1rem;
  line-height: 1.625rem;
}
.choose-us-items {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.choose-us-items h4 {
  margin-top: 2rem;
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.choose-us-items p {
  margin-top: 2rem;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
.choose-us-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.first-item,
.second-item,
.last-item {
  padding: 2rem;
}

.first-item {
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.second-item {
  border-radius: 1rem;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.last-item {
  width: 50%;
  border-radius: 1rem;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* NewsLetter Section Style */

.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

/* Here Grid Using only for responsive purpose for minimum scrolling */

.newsletter-content {
  display: grid;
  grid-template-rows: repeat(6, auto);
  align-items: center;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #ff5400;
}

.newsletter-content h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.newsletter-content p {
  margin-top: 1rem;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

.newsletter-content hr {
  margin: 1.5rem 0;
  color: rgba(19, 19, 24, 0.1);
}

form input {
  border: none;
  outline: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-family: Mulish;
  font-size: 1rem;
}

form input[type='submit'] {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 0.5rem;
  background: #ff5400;
}

.newsletter-img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

.newsletter-img img {
  height: 100%;
  width: 100%;
}

.newsletter-offer {
  position: absolute;
  width: 70%;
  right: 4%;
  bottom: 15%;
  padding: 2rem 1rem;
  border-radius: 1rem;
  color: #fff;
  background: #ff5400;
  padding: 2rem;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  text-align: center;
}
.newsletter-offer span {
  font-family: Mulish;
  font-size: 1.5rem;
}
.newsletter-offer h3 {
  font-family: Mulish;
  font-size: 1.7rem;
  font-weight: 800;
}

/* Footer Section Style */
footer {
  padding: 6.8rem 17.75rem;
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
}

.footer-logo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-logo h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 2rem;
  font-weight: 800;
}
.footer-logo span {
  color: #ff5400;
}

footer p {
  max-width: 48rem;
  margin: 1rem auto;
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

/* Here using flex for alignment content for responsive */
.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.social-links a {
  color: #131318;
  text-decoration: none;
}

footer hr {
  margin: 3rem 0;
}

/* Mobile Responsive Style */
@media screen and (max-width: 600px) {
  /* Header Section */
  header,
  .hero-content {
    padding: 1rem;
  }
  main section {
    margin: 1.5rem;
  }
  footer {
    padding: 2rem 2.5rem;
  }
  .menu-link {
    display: none;
  }

  .logo-section {
    font-size: 1.25rem;
  }

  .mobile-nav {
    display: grid;
    align-items: center;
    font-size: 1.5rem;
  }

  /* Hero Section */
  .hero-title {
    font-size: 22px;
  }
  .hero-description {
    margin-top: 0.5rem;
    font-size: 14px;
  }
  .find-form {
    margin-top: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .find-form input[type='submit'] {
    text-align: center;
    border-radius: 0.5rem;
    background: #ff5400;
  }

  /* Best Place Section Style */
  .best-place {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Favorite Place Section Style */
  .favorite-place-content h3 {
    font-size: 20px;
  }

  .favorite-place-content p {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 24px;
  }

  .favorite-place-img img {
    height: 15rem;
  }

  .first-favorite-place-img,
  .middle-favorite-place-img,
  .last-favorite-place-img {
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  /* Choose Us Section Responsive */
  .choose-us-content h3 {
    font-family: Mulish;
    font-size: 1.25rem;
  }

  .choose-us-content p {
    font-family: Mulish;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .choose-us-item {
    grid-template-columns: 1fr;
  }
  .last-item {
    width: 100%;
  }

  /* newsletter section */

  .newsletter {
    grid-template-columns: repeat(1, 1fr);
  }

  .newsletter-offer {
    border-radius: 0.66056rem;
    background: #ff5400;
    height: 5rem;
    padding: 1rem;
    width: 60%;
    right: 4%;
    bottom: 15%;
  }

  .newsletter-img img {
    height: auto;
    max-width: 100%;
  }

  .newsletter-offer span {
    text-align: center;
    font-family: Mulish;
    font-size: 0.8rem;
  }
  .newsletter-offer h3 {
    font-size: 1.2rem;
  }

  /* Footer Section Style */
  footer h3 {
    font-size: 1.2rem;
  }

  footer p {
    margin-top: 1rem;
  }

  footer hr {
    margin: 1.5rem 0;
  }

  .social-links {
    font-size: 2rem;
  }
}
